<html>
<body>
    @RenderBody()
    <sl-alert ></sl-alert>
    <div ></div>
    <sl-alert variant="@(User.Identity.IsAuthenticated ? "logged-in" : "guest")"></sl-alert>
    <sl-badge variant="primary"></sl-badge>
    <sl-avatar ></sl-avatar>
    <sl-alert ></sl-alert>
    
</body>
</html>